<div class="container">
  <form (ngSubmit)="adicionarAluno()">
 
    <input name="nome" [(ngModel)]="nome" placeholder="Nome do aluno" required pattern="[A-Za-záàãâäéèêëíìîïóòôöõúùûüçÇ ]+" />
    

    <input name="idade" [(ngModel)]="idade" type="number" placeholder="Idade" required min="0" />


    <input name="matricula" [(ngModel)]="matricula" placeholder="Matrícula" required pattern="^[0-9]+$" />

    <button type="submit" [disabled]="!nome || !idade || !matricula">Adicionar Aluno</button>
  </form>

  <div *ngIf="alunoAdicionado" class="message">
    Aluno adicionado com sucesso! clique no nome para detalhes
  </div>

  <div class="alunos-lista">
    <h3>Alunos Adicionados</h3>
    <ul>
      <li *ngFor="let aluno of alunos">
        <span class="aluno-nome" (click)="mostrarDetalhes(aluno)">
          {{ aluno.nome }}
        </span>
        <button class="remover-btn" (click)="removerAluno(aluno.matricula)">❌</button>
      </li>
    </ul>
    <div *ngIf="alunos.length === 0">
      Nenhum aluno foi adicionado ainda.
    </div>
  </div>

  <div *ngIf="detalhes" class="detalhes">
    <p>{{ detalhes }}</p>
  </div>
</div>
